<div class="container">
    <div class="copy">
        &copy;&nbsp;<%- new Date().getFullYear() %>&nbsp;<a href="https://cinemapress.org" target="_blank">CinemaPress&nbsp;ACMS</a>&nbsp;&nbsp;|&nbsp;&nbsp;Для&nbsp;связи&nbsp;с&nbsp;администрацией:&nbsp;<%- page.email %></div>
</div>

<div id="top" style="display: none;">
    <span>
        <i class="pic icon-playSlim"></i>
        <span class="text">Наверх</span>
    </span>
</div>

<script src="/themes/robb/public/js/all.js"></script>

<%- page.codes.footer %>