<!--[if lt IE 9 ]><script type="text/javascript" src="/themes/robb/public/js/settings/ie8_html.js"></script><![endif]-->

<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<title><%- page.title %></title>

<meta name="description" content="<%- page.description %>"/>
<meta name="keywords" content="<%- page.keywords %>"/>

<link rel="icon" href="/themes/robb/public/favicon.ico" type="image/x-icon"/>

<link href="/themes/robb/public/css/all.css" rel='stylesheet' type='text/css'/>

<%- page.codes.head %>